.canvasHolder {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.UIHolder {
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 1;
    height: 300px;
}

.CustomCursorHolder {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.Heading {
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 1;
    pointer-events: none;
    font-size: 4rem;
    font-family: Satoshi;
    max-width: 400px;
}